:root {
  --max-width: 1100px;
  --border-radius: 12px;
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    border-radius: 34px;
    background-color: #191724;
  }
  ::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
    border-radius: 34px;
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background: #c4a7e7;
    border-radius: 34px;
  }
}

html,
body {
  background-color: "#191724";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.logo {
  transition: transform 0.3s;
}

.logo:hover {
  transform: rotate(45deg);
}

*:focus {
  outline: none;
}
